@font-face {
    font-family: 'AzeretMono';
    src: url('fonts/AzeretMono/AzeretMono-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'AzeretMono';
    src: url('fonts/AzeretMono/AzeretMono-VariableItalic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}


@font-face {
    font-family: 'Teko';
    src: url('fonts/Teko/Teko-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}