/* =========== Variables (CSS Custom Properties) =========== */
:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --shadow-color: #7f7b82;

    --font-primary: 'Teko', sans-serif;
    --font-secondary: 'AzeretMono', monospace;
    /* Spacing */
    --view-width: 125rem;
    --extra-special-space: 12.2rem;
    --special-space: 6.3rem;
    --enough-space: 3.9rem;
    --standard-space: 2.4rem;
    --minimal-space: 1.2rem;
}

/* Dark theme variables */
body.dark {
    --background-color: #29232d;
    --text-color: #ffffff;
    --shadow-color: #7f7b82;

    /* --primary-color: #8ED6CB;
    --secondary-color: #8F45A5; */
}