<footer>
    <div class="footer-container">
        <p>This is the footer.</p>
        <div class="footer-icons">
            <img class="icon", src="/src/assets/icons/github.svg", alt="GitHub">
            <img class="icon", src="/src/assets/icons/envelope-solid.svg", alt="Email">
            <img class="icon", src="/src/assets/icons/linkedin.svg", alt="LinkedIn">
            <img class="icon", src="/src/assets/icons/magnifying-glass-solid.svg", alt="Search">
            <img class="icon", src="/src/assets/icons/openai.svg", alt="ChatGPT">
            <img class="icon", src="/src/assets/icons/spotify.svg", alt="Spotify">
        </div>
    </div>
</footer>