<footer>
    <div class="footer-container">
        <p>Crafted with ❤︎ in Zurich.</p>
        <div class="footer-icons">
            <a href="https://open.spotify.com/user/pillowbeast?si=68a1ff1b669e4072" target="_blank" rel="noopener">
                <img class="icon", src="/src/assets/icons/spotify.svg", alt="Spotify">
            </a>
            <a href="https://github.com/pillowbeast" target="_blank" rel="noopener">
                <img class="icon", src="/src/assets/icons/github.svg", alt="GitHub">
            </a>
            <a href="https://linkedin.com/in/yannik-werner" target="_blank" rel="noopener">
                <img class="icon", src="/src/assets/icons/linkedin.svg", alt="LinkedIn">
            </a>
            <a href="mailto:yannik.werner@yahoo.de" target="_blank" rel="noopener">
                <img class="icon", src="/src/assets/icons/envelope-solid.svg", alt="Email">
            </a>
        </div>
    </div>
</footer>