<header>
  <div class="header-container">
    <div class="header-title">
      <a href="/">
        <b>Yannik's Blog</b>
      </a>
      <button class="dark-mode-toggle icon" >
        <img src="/src/assets/icons/moon-solid.svg" alt="DarkMode" id="dark-mode-toggle-img">
      </button>
    </div>
    
    <nav>
      <a href="/blog/">Blog</a>
      <a href="/retro/">Retro</a>
      <a href="/project/"/>Project</a>
      <a href="/book/">Book</a>
      <a href="/recipe/">Recipe</a>
      <a href="/about/">About</a>
    </nav>
    <!-- <button class="menu-button icon">
      <img src="/src/assets/icons/caret-down-solid.svg" alt="menu">
    </button> -->
    <button class="menu-button">
      <img class="icon" src="/src/assets/icons/bars-solid.svg" alt="menu">
    </button>
  </div>
</header>
  