<header>
  <div class="header-container">
    <div class="header-title">
      <a href="/">
        <h1>Yannik Werner</h1>
      </a>
      <button class="button-mode">
        <img src="/src/assets/icons/moon-solid.svg" alt="DarkMode">
      </button>
      <button class="button-mode">
        <img src="/src/assets/icons/sun-solid.svg" alt="LightMode">
      </button>
    </div>
    
    <nav>
      <a href="/blog/">Blog</a>
      <a href="/retro/">Retro</a>
      <a href="/project/"/>Project</a>
      <a href="/book/">Book</a>
      <a href="/recipe/">Recipe</a>
      <a href="/about/">About</a>
    </nav>
    <button class="menu-button">
      <img src="/src/assets/icons/caret-down-solid.svg" alt="menu">
    </button>
  </div>
</header>
  