/* =========== Global Styles =========== */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  color: var(--text-color);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 16px;
  color: var(--text-color);
  font-weight: bold;
}
