/* =========== Global Styles =========== */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* =========== Writing =========== */
h1 {
  font-size: 12.2rem;
  font-weight: 700;
  overflow: hidden;
}

h1::after {
  content: ".";
  color: var(--light-olive-green);
}

h2 {
  font-size: 6.3rem;
  font-weight:600;
  overflow: hidden;
}

h2::after {
  content: ".";
  color: var(--light-purple);
}

h3 {
  font-size: 3.9rem;
  font-weight: 500;
}

p, li, ol, i {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
}

li {
  padding-left: 36px;
}

b {
  font-size: 2.4rem;
  font-weight: 500;
}

a {
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
}

@media (max-width: 480px) {
  h1 {
    font-size: 6.3rem;
    font-weight: 700;
    overflow: hidden;
  }
  
  h1::after {
    content: ".";
    color: var(--light-olive-green);
  }
  
  h2 {
    font-size: 3.9rem;
    font-weight:600;
  }  
  
  h3 {
    font-size: 2.4rem;
    font-weight: 500;
  }
  
  p, li, ol, i {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.2;
  }
  
  li {
    padding-left: 36px;
  }
  
  b {
    font-size: 2.2rem;
    font-weight: 500;
  }
  
  a {
    font-size: 2.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
  }
}


/* =========== Misc =========== */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  font-size: 2.4rem;
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

hr {
  margin-left: -20px;
  margin-right: -20px;
  border: none;
  height: 2px;
  background-color: var(--light-olive-green);
  margin-top: 3.9rem;
  margin-bottom: 3.9rem;
}

.full-width-hr {
  margin-left: calc(-50vw + 50% + 20px);
  margin-right: calc(-50vw + 50% + 20px);
}

img {
  transition: filter 0.3s ease, scale 0.5s ease;
  cursor: pointer;
}

img:hover {
  scale: 1.05;
}

/* =========== Attributes =========== */
.dark .icon img{
  filter: invert(1) brightness(1.2);
}

.not-visible {
  opacity: 0;
  cursor: default;
}

.visible {
  opacity: 1;
}

.reverse {
  flex-direction: row-reverse;
}

.height-10 {
  height: 10vh;
}

.height-20 {
  height: 20vh;
}

.height-40 {
  height: 40vh;
}

.flowing-text p {
  margin-top: 12px;
  margin-bottom: 12px;
}

.no-line-height {
  line-height: 1.0;
}

.no-overlay {
  cursor: default;
}

.active {
  color: var(--light-purple);
}

.left-squished {
  padding-right: 36%;
}

.right-squished {
  padding-left: 36%;
}

.date {
  letter-spacing: 2px;
}

.light {
  color: var(--light-purple);
}