body {
    margin: 10px;
}

#gallery {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#sliderimages {
    width: 100%;
    height: 400px;

    display: flex;
    align-items: center;
    gap: 50px;

    overflow: hidden;
    background: white;
}

.image-wrapper {
    width: auto;

    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-out;
    overflow: hidden;
    flex: 0 0 auto;
}

#sliderimages img {
    width: auto;
    height: auto;
    max-height: 400px;
    transition: opacity 0.5s ease-out, scale 0.5s ease-out;
}

img.faded {
    opacity: 0.1;
    scale: 0.8;
}

#prev-button {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);

    font-size: 50px;
    color: grey;
    background: none;
    border: none;
}

#next-button {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);

    font-size: 50px;
    color: grey;
    background: none;
    border: none;
}

#prev-button:hover, #next-button:hover {
    cursor: pointer;
    color: black;
}

#position-indicator {
    position: absolute;
    width: auto;
    height: 25px;
    bottom: 0%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.small-circle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: grey;
}

.small-circle:hover {
    cursor: pointer;
}

.small-circle.active {
    background-color: black;
}
